# Site Configuration
NEXT_PUBLIC_SITE_URL=https://nexjob.tech

# WordPress API Configuration
NEXT_PUBLIC_WP_API_URL=https://cms.nexjob.tech/wp-json/wp/v2
NEXT_PUBLIC_WP_FILTERS_API_URL=https://cms.nexjob.tech/wp-json/nex/v1/filters-data
NEXT_PUBLIC_WP_AUTH_TOKEN=

# Neon Database Configuration
PGHOST=ep-delicate-moon-a11mxdtn-pooler.ap-southeast-1.aws.neon.tech
PGDATABASE=neondb
PGUSER=neondb_owner
PGPASSWORD=npg_6gdF2QkoqGmH
PGSSLMODE=require
PGCHANNELBINDING=require
DATABASE_URL=postgresql://neondb_owner:npg_6gdF2QkoqGmH@ep-delicate-moon-a11mxdtn-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Neon Auth (Stack) Configuration
NEXT_PUBLIC_STACK_PROJECT_ID=35f41d75-af40-41d8-8df9-495fa2199e8d
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=pck_34h8h166fzck80y2fag4c6ejmeb3g7jpb1g219r13kfz0
STACK_SECRET_SERVER_KEY=ssk_qd8nrdjtwtfdtaqq7f79dha3r29gcq7jn5erds4qpzk9r

# Analytics Configuration
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_GTM_ID=GTM-XXXXXXX

# Development Analytics (Optional - set to 'true' to enable analytics in development)
NEXT_PUBLIC_GA_ENABLE_DEV=false
NEXT_PUBLIC_GTM_ENABLE_DEV=false

# Development
NODE_ENV=production
PORT=5000

# Production Cache Settings (optional)
SITEMAP_CACHE_TTL=300

# API Security
API_TOKEN=v6BtVqyV2WturhsAdECx

# Cache Configuration
FILTER_CACHE_TTL=3600000
AUTH_CACHE_DURATION=5000
